using System.Collections;
using System.Collections.Generic;
using UnityEngine;
// using Gyokujin.Work; // using으로 해당 스크립트에서 네임스페이스를 사용할 수 있다.
using Gyokujin;

namespace Gyokujin // namespace. 네임스페이스 선언. 협엽과 대형 프로젝트에 사용
{
    public class Youtube
    {
        public int subscribe;
    }

    namespace Work // 네임스페이스 안에 다시 네임스페이스를 선언할 수 있다.
    {
        public class Youtube
        {
            int like;

            public void SetLike(int value)
            {
                like = value;
            }

            public bool IsLike()
            {
                return like != 0;
            }
        }
    }
}

public class Namespace : MonoBehaviour
{
    Youtube youtube = new Gyokujin.Youtube();

    void Start()
    {
        // youtube.SetLike(5);
        // print(youtube.IsLike());
        youtube.subscribe = 5;
        print(youtube.subscribe);
    }
}
